---

platform: "aws"

dcos:
  cluster_name: "###CLUSTER_NAME###"

aws:
  region: "us-west-2"

  access:
    id: "###ACCESS_ID###"
    secret: "###ACCESS_SECRET###"

  ssh:
    key_name: "###KEY_NAME###"
    private_key_filepath: "/project/###KEY_PATH###"

  bootstrap_node:
    instance_type: "c4.xlarge"
    instance_disk_size_gb: 100

  master_nodes:
    count: 1
    instance_type: "m4.large" # instance type need to supports ebs optimization
    instance_disk_size_gb: 80

  agent_nodes:
    private:
      count: 3
      instance_type: "c4.4xlarge" #instance type need to supports ebs optimization
      instance_disk_size_gb: 100

    public:
      count: 1
      instance_type: "c4.xlarge" #instance type need to supports ebs optimization
      instance_disk_size_gb: 100
...
